<div class="jumbotron">
  <h1>Welcome to TicketGuru.LK</h1>

  <p class="lead">
    Hassle free solution for buying tickets online.
  </p>

  <div class="btn-group" ng-show="isLoggedIn()">
    <a ng-click="logout()" class="btn btn-large btn-default">
      <i class="fa fa-book"></i>
      Logout
    </a>
  </div>


</div>

<div class="marketing">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <h4><i class="fa fa-thumbs-up"></i> Good to Go!</h4>
      <p>
        Kickstarts your project quickly, with everything you need, so you can 
        focus on what matters: your app.
      </p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <h4><i class="fa fa-magic"></i> Complete Build System</h4>
      <p>
        A smart, <a href="http://gruntjs.com">Grunt</a>-based build system 
        designed to save you time and energy.
      </p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <h4><i class="fa fa-retweet"></i> Modularization</h4>
      <p>
        Supports a structure that maintains separation of concerns while
        ensuring maximum code reuse.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <h4><i class="fa fa-star"></i> AngularJS</h4>
      <p>
        JavaScript framework that augments browser-based, single-page 
        applications with MVC functionality.
        <a href="http://angularjs.org">More &raquo;</a>
      </p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <h4><i class="fa fa-resize-small"></i> LESS CSS</h4>
      <p>
        The dynamic stylesheet language that extends CSS with efficiency.
        <a href="http://lesscss.org">More &raquo;</a>
      </p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <h4><i class="fa fa-twitter"></i> Twitter Bootstrap</h4>
      <p>
        Sleek, intuitive, and powerful front-end framework for faster and easier
        web development.
        <a href="http://getbootstrap.com">More &raquo;</a>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <h4><i class="fa fa-circle"></i> Angular UI Bootstrap</h4>
      <p>
        Pure AngularJS components for Bootstrap written by the 
        <a href="https://github.com/angular-ui?tab=members">AngularUI Team</a>.
        <a href="http://angular-ui.github.com/bootstrap">More &raquo;</a>
      </p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <h4><i class="fa fa-flag"></i> Font Awesome</h4>
      <p>
        The iconic font designed for use with Twitter Bootstrap.
        <a href="http://fortawesome.github.com/Font-Awesome">
          More &raquo;
        </a>
      </p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <h4><i class="fa fa-asterisk"></i> Placeholders</h4>
      <p>
        Client-side image and text placeholder directives written in pure 
        AngularJS to make designing mock-ups wicked-fast.
        <a href="http://joshdmiller.github.com/angular-placeholders">
          More &raquo;
        </a>
      </p>
    </div>
  </div>
</div>

