<!DOCTYPE html>
<html ng-app="ngBoilerplate" ng-controller="AppCtrl">
  <head>
    <title ng-bind="pageTitle"></title>

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>

  </head>
  <body>
    <div class="container">
      <div class="navbar navbar-default">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" ng-init="menuCollapsed = true"
            ng-click="menuCollapsed = ! menuCollapsed">
          </button>
          <div class="navbar-brand">
            TicketGuru.LK
            <small>
              ver 0.1
            </small>
          </div>
        </div>
        <div class="collapse navbar-collapse" collapse="menuCollapsed">
          <ul class="nav navbar-nav">
            <li ui-sref-active="active">
              <a href ui-sref="home">
                <i class="fa fa-home"></i>
                Home
              </a>
            </li>
            <li ui-sref-active="active">
              <a href ui-sref="about">
                <i class="fa fa-info-circle"></i>
                About Us
              </a>
            </li>
            <li ui-sref-active="active">
              <a href ui-sref="events">
                <i class="fa fa-paw"></i>
                Events
              </a>
            </li>
            <li ui-sref-active="active">
              <a href ui-sref="contact">
                <i class="fa fa-phone"></i>
                Contact Us
              </a>
            </li>
      	    <li ui-sref-active="active" ng-hide="isLoggedIn()">
              <a href ui-sref="login">
                <i class="fa fa-male"></i>
                Login
              </a>
            </li>
      	    <li ui-sref-active="active" ng-hide="isLoggedIn()">
              <a href ui-sref="register">
                <i class="fa fa-group"></i>
                Register
              </a>
            </li>
            <li ui-sref-active="active" ng-hide="isLoggedIn()">
              <a href ui-sref="reserve">
                <i class="fa fa-group"></i>
                Reservation
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container" ui-view="main"></div>

    <footer class="footer">
      <div class="container">
        <div class="footer-inner">
          <p>
            (c) 2016 TicketsGuru.LK.
            <br />
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
