<div class="row">
  <h1 class="page-header">
      Reservation
  </h1>
  <form ng-submit="resreve()">
      <div class="form-group">
          <label>User ID:</label>
          <input type="text" ng-model="user.userID" class="form-control" />
      </div>
      <div class="form-group">
          <label>Event ID:</label>
          <input type="text" ng-model="user.eventID" class="form-control" />
      </div>
      <div class="form-group">
          <label>Seating Plan:</label>
          <input type="text" ng-model="user.seatingPlan" class="form-control" />
      </div>
      <div class="form-group">
          <label>Ticket Category</label>
          <input type="text" ng-model="user.ticketCategory" class="form-control" />
      </div>
      <button class="btn btn-success" type="submit">Reserve</button>
  </form>
</div>

